[Unit]
Description=Docker
After=flanneld.service

[Service]
EnvironmentFile=/etc/container-environment
EnvironmentFile=/run/flannel/subnet.env
Environment="DOCKER_NOFILE=1000000"
Environment="DOCKER_PIDFILE=/var/run/docker.pid"
ExecStartPre=-/sbin/ip link set dev docker0 down
ExecStartPre=-/sbin/brctl delbr docker0
ExecStartPre=-/bin/rm -f /var/run/docker.pid
ExecStart=/usr/bin/docker daemon --mtu=${FLANNEL_MTU} --iptables=false --ip-masq=false --storage-driver=aufs --bip=${FLANNEL_SUBNET} --graph=/ext/docker $DOCKER_OPTS
Restart=on-failure
RestartSec=5
