[Unit]
Description=Docker Application Container Engine
Documentation=https://docs.docker.com
After=network.target docker.socket
Requires=docker.socket

[Service]
EnvironmentFile=/etc/container-environment
Type=notify
# the default is not to use systemd for cgroups because the delegate issues still
# exists and systemd currently does not support the cgroup feature set required
# for containers run by docker
ExecStartPre=-/sbin/ip link set dev docker0 down
ExecStartPre=-/sbin/brctl delbr docker0
ExecStartPre=-/bin/rm -f /var/run/docker.pid
ExecStart=/usr/bin/dockerd  --iptables=false --ip-masq=false --bip=${FLANNEL_SUBNET} --graph=/ext/docker $DOCKER_OPTS
ExecReload=/bin/kill -s HUP $MAINPID
# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
#LimitNOFILE=infinity
LimitNOFILE=1000000
LimitNPROC=infinity
LimitCORE=infinity
# systemd >= 226
TasksMax=infinity
TimeoutStartSec=0
# configure systemd to not reset the cgroups of docker containers
Delegate=yes
KillMode=process
Restart=always
RestartSec=5
StartLimitInterval=3600
StartLimitBurst=720
