[Unit]
Description=Local Docker Registry
Wants=docker.service

[Service]
ExecStartPre=/bin/systemctl is-active docker.service
ExecStart=/usr/bin/registry serve /etc/docker/registry/config.yml
Restart=always
RestartSec=5
StartLimitInterval=3600
StartLimitBurst=720
User=planet
Group=planet
Slice=gravity.slice
