[Unit]
Description=Local Docker Registry
Wants=docker.service

[Service]
EnvironmentFile=/etc/container-environment
ExecStart=/usr/bin/registry serve \
	-bind-addr=${PLANET_PUBLIC_IP} \
	-config=/etc/docker/registry/config.yml
Restart=always
RestartSec=5
StartLimitInterval=3600
StartLimitBurst=720
User=planet
Group=planet
