[Unit]
Description=Local Docker Registry
Requires=docker.service
After=docker.service

[Service]
ExecStart=/usr/bin/registry serve /etc/docker/registry/config.yml
Restart=always
RestartSec=10
User=planet
Group=planet
