[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=setup-network-environment.service docker.service
After=docker.service

[Service]
EnvironmentFile=/etc/container-environment
EnvironmentFile=/etc/network-environment
ExecStart=/usr/bin/kubelet \
        --address=0.0.0.0 \
        --port=10250 \
        --hostname_override=${DEFAULT_IPV4} \
        --api_servers=${KUBE_MASTER_IP}:8080 \
        --allow_privileged=true \
        --logtostderr=true \
        --cadvisor_port=4194 \
        --healthz_bind_address=0.0.0.0 \
        --healthz_port=10248\
        --resolv-conf=\
        --configure-cbr0=false $KUBE_CLOUD_FLAGS
Restart=always
RestartSec=10
