[Unit]
Description=Kubernetes Proxy
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
EnvironmentFile=/etc/container-environment
ExecStart=/usr/bin/kube-proxy --master=http://${KUBE_APISERVER}:8080 --logtostderr=true
Restart=always
RestartSec=10
