[Unit]
Description=Etcd Service
After=setup-network-environment.service

[Service]
TimeoutStartSec=0
ExecStart=/usr/bin/etcd --data-dir=/var/etcd
User=orbit
Group=orbit
