[Unit]
Description=Flannel
Documentation=https://github.com/coreos/flannel
Wants=etcd.service

[Service]
Restart=always
RestartSec=5
Environment="TMPDIR=/var/tmp/"
Environment="FLANNEL_VER=0.5.1"
EnvironmentFile=/etc/container-environment
LimitNOFILE=40000
LimitNPROC=1048576
ExecStartPre=/sbin/modprobe ip_tables
ExecStartPre=/bin/mkdir -p /run/flannel
ExecStartPre=/usr/bin/touch /run/flannel/options.env
ExecStartPre=/usr/bin/scripts/wait-for-etcd.sh
ExecStartPre=/usr/bin/etcdctl \
    --cert-file=/var/state/etcd.cert \
    --key-file=/var/state/etcd.key \
    --ca-file=/var/state/root.cert \
    --peers https://127.0.0.1:4001 set /coreos.com/network/config '{"Network":"${KUBE_POD_SUBNET}", "Backend": {"Type": "${FLANNEL_BACKEND}", "RouteTableFilter": ["tag:KubernetesCluster=${KUBE_CLUSTER_ID}"]}}'
ExecStartPre=/bin/systemctl is-active etcd.service
ExecStart=/usr/bin/flanneld \
    --ip-masq=true \
    --etcd-endpoints https://127.0.0.1:4001,https://127.0.0.1:2379 \
    --etcd-cafile=/var/state/root.cert \
    --etcd-certfile=/var/state/etcd.cert \
    --etcd-keyfile=/var/state/etcd.key \
    --kube-apiserver=${KUBE_APISERVER}:6443 \
    --kube-node=${KUBE_NODE_NAME} \
    --kube-cert=/var/state/kubelet.cert \
    --kube-key=/var/state/kubelet.key \
    --kube-ca=/var/state/root.cert \
    --iface=${PLANET_PUBLIC_IP}
ExecStartPost=-/bin/bash -c "until [ -e /run/flannel/subnet.env ]; do echo \"waiting for write.\"; sleep 3; done"
