[Unit]
Description=Setup Network Environment
Documentation=https://github.com/kelseyhightower/setup-network-environment
Requires=network-online.target
After=network-online.target

[Service]
ExecStartPre=/usr/bin/scripts/setup-etc.sh
ExecStart=/usr/bin/setup-network-environment
RemainAfterExit=yes
Type=oneshot
