[Unit]
Description=Generate service-account key file

[Service]
ExecStartPre=/bin/mkdir -p /opt/bin
ExecStart=/usr/bin/openssl genrsa -out /opt/bin/kube-serviceaccount.key 2048 2>/dev/null
RemainAfterExit=yes
Type=oneshot
