[Unit]
Description=Kubernetes Proxy
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=setup-network-environment.service
After=setup-network-environment.service

[Service]
EnvironmentFile=/cluster-info/master-private-ip
ExecStart=/usr/bin/kube-proxy --master=${MASTER_PRIVATE_IP}:8080 --logtostderr=true
Restart=always
RestartSec=10
