[Unit]
Description=Kubernetes Proxy
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=setup-network-environment.service
After=setup-network-environment.service

[Service]
EnvironmentFile=/etc/container-environment
ExecStart=/usr/bin/kube-proxy --master=${KUBE_MASTER_IP}:8080 --logtostderr=true
Restart=always
RestartSec=10
