[Unit]
Description=Temporary Etcd Service used for upgrades
# This works by launching etcd, but bound to a non-default loopback interface. This will prevent system services that
# are running during the upgrade from being able to access etcd while the data is restored.

[Service]
Restart=always
RestartSec=5
StartLimitInterval=3600
StartLimitBurst=720
Type=notify
TimeoutStartSec=0
# Get ETCD_VERSION from the etcd data directory
EnvironmentFile=-/ext/etcd/etcd-version.txt
EnvironmentFile=/etc/container-environment
ExecStart=/bin/bash -c '/usr/bin/etcd-${ETCD_VERSION} \
        --name=${ETCD_MEMBER_NAME} \
        --data-dir=/ext/etcd \
        --initial-advertise-peer-urls=https://127.0.0.2:2380 \
        --advertise-client-urls=https://127.0.0.2:2379,https://127.0.0.2:4001 \
        --listen-client-urls=https://127.0.0.2:2379,https://127.0.0.2:4001 \
        --listen-peer-urls=https://127.0.0.2:2380,https://127.0.0.2:7001 \
        --cert-file=/var/state/etcd.cert \
        --key-file=/var/state/etcd.key \
        --trusted-ca-file=/var/state/root.cert \
        --client-cert-auth \
        --peer-cert-file=/var/state/etcd.cert \
        --peer-key-file=/var/state/etcd.key \
        --peer-trusted-ca-file=/var/state/root.cert \
        --peer-client-cert-auth $ETCD_OPTS \
        --initial-cluster-state new \
        '
User=planet
Group=planet
