[Unit]
Description=Temporary Etcd Service used for upgrades
# This works by launching etcd, but bound to a non-default loopback interface. This will prevent system services that
# are running during the upgrade from being able to access etcd while the data is restored.

[Service]
Restart=always
RestartSec=5
StartLimitInterval=3600
StartLimitBurst=720
Type=notify
TimeoutStartSec=0
# To support etcd upgrades, default to using oldest supported version
Environment=ETCD_VER=v2.3.8
# Override ETCD_VER if a version file is present in the etcd data dir
EnvironmentFile=-/ext/etcd/etcd-version.txt
EnvironmentFile=/etc/container-environment
ExecStart=/bin/bash -c '/usr/bin/etcd-${ETCD_VER} \
        --name=${ETCD_MEMBER_NAME} \
        --data-dir=/ext/etcd \
        --initial-advertise-peer-urls=https://127.1.1.1:2380 \
        --advertise-client-urls=https://127.1.1.1:2379,https://127.1.1.1:4001 \
        --listen-client-urls=https://127.1.1.1:2379,https://127.1.1.1:4001 \
        --listen-peer-urls=https://127.1.1.1:2380,https://127.1.1.1:7001 \
        --cert-file=/var/state/etcd.cert \
        --key-file=/var/state/etcd.key \
        --trusted-ca-file=/var/state/root.cert \
        --client-cert-auth \
        --peer-cert-file=/var/state/etcd.cert \
        --peer-key-file=/var/state/etcd.key \
        --peer-trusted-ca-file=/var/state/root.cert \
        --peer-client-cert-auth $ETCD_OPTS \
        '
User=planet
Group=planet
