[Unit]
Description=Etcd Service

[Service]
Restart=always
RestartSec=5
StartLimitInterval=3600
StartLimitBurst=720
Type=notify
TimeoutStartSec=0
# To support etcd upgrades, default to using oldest supported version
Environment=PLANET_ETCD_VERSION=v2.3.8
# Override PLANET_ETCD_VERSION if a version file is present in the etcd data dir
EnvironmentFile=-/ext/etcd/etcd-version.txt
EnvironmentFile=/etc/container-environment
ExecStart=/bin/bash -c '/usr/bin/etcd-${PLANET_ETCD_VERSION} \
        --name=${ETCD_MEMBER_NAME} \
        --data-dir=/ext/etcd \
        --initial-advertise-peer-urls=https://${PLANET_PUBLIC_IP}:2380 \
        --advertise-client-urls=https://${PLANET_PUBLIC_IP}:2379,https://${PLANET_PUBLIC_IP}:4001 \
        --listen-client-urls=https://0.0.0.0:2379,https://0.0.0.0:4001 \
        --listen-peer-urls=https://${PLANET_PUBLIC_IP}:2380,https://${PLANET_PUBLIC_IP}:7001 \
        --cert-file=/var/state/etcd.cert \
        --key-file=/var/state/etcd.key \
        --trusted-ca-file=/var/state/root.cert \
        --client-cert-auth \
        --peer-cert-file=/var/state/etcd.cert \
        --peer-key-file=/var/state/etcd.key \
        --peer-trusted-ca-file=/var/state/root.cert \
        --peer-client-cert-auth $ETCD_OPTS \
        '
User=planet
Group=planet
