[Unit]
Description=Etcd Service
Conflicts=etcd-upgrade.service

[Service]
Restart=always
RestartSec=5
StartLimitInterval=3600
StartLimitBurst=720
Type=notify
TimeoutStartSec=0
EnvironmentFile=/etc/container-environment
EnvironmentFile=-/ext/etcd/etcd-version.txt
EnvironmentFile=-/ext/etcd/etcd-synced.txt
# Set TLS ciphers as per mozilla recommendations
# https://wiki.mozilla.org/Security/Server_Side_TLS
Environment=ETCD_CIPHER_SUITES=TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA256,TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256
ExecStartPre=/usr/bin/planet etcd init
ExecStart=/usr/bin/etcd \
        --name=${PLANET_ETCD_MEMBER_NAME} \
        --data-dir=/ext/etcd/${PLANET_ETCD_VERSION} \
        --initial-advertise-peer-urls=https://${PLANET_PUBLIC_IP}:2380 \
        --advertise-client-urls=https://${PLANET_PUBLIC_IP}:2379,https://${PLANET_PUBLIC_IP}:4001 \
        --listen-client-urls=https://0.0.0.0:2379,https://0.0.0.0:4001 \
        --listen-peer-urls=https://${PLANET_PUBLIC_IP}:2380,https://${PLANET_PUBLIC_IP}:7001 \
        --cert-file=/var/state/etcd.cert \
        --key-file=/var/state/etcd.key \
        --trusted-ca-file=/var/state/root.cert \
        --client-cert-auth \
        --peer-cert-file=/var/state/etcd.cert \
        --peer-key-file=/var/state/etcd.key \
        --peer-trusted-ca-file=/var/state/root.cert \
        --peer-client-cert-auth=true \
        --max-request-bytes=10485760 \
        --auto-compaction-retention=24h \
        --heartbeat-interval=250 \
        --election-timeout=4000 \
        --enable-v2=true \
        $ETCD_OPTS
User=planet
Group=planet
PermissionsStartOnly=true
