[Unit]
Description=Local Docker Registry
Wants=containerd.service

[Service]
ExecStart=/usr/bin/registry serve /etc/registry/config.yml
Restart=always
RestartSec=5
StartLimitInterval=3600
StartLimitBurst=720
User=planet
Group=planet
