[Unit]
Description=Planet Agent service
Documentation=https://github.com/gravitational/planet
Wants=etcd.service serf.service

[Service]
Restart=always
RestartSec=5
StartLimitInterval=3600
StartLimitBurst=720
EnvironmentFile=/etc/container-environment
EnvironmentFile=-/ext/etcd/etcd-synced.txt
LimitNOFILE=40000
LimitNPROC=1048576
ExecStartPre=/bin/systemctl is-active etcd.service
ExecStartPre=/bin/systemctl is-active serf.service
ExecStart=/usr/bin/planet agent \
        --name=${PLANET_AGENT_NAME} \
        --rpc-addr=${PLANET_PUBLIC_IP}:7575 \
        --rpc-addr=127.0.0.1:7575 \
        --metrics-addr=${PLANET_PUBLIC_IP}:7580 \
        --role=${PLANET_ROLE} \
        --leader-key=/planet/cluster/${KUBE_CLUSTER_ID}/master \
        --election-key=/planet/cluster/${KUBE_CLUSTER_ID}/election \
        --election-enabled=${PLANET_ELECTION_ENABLED} \
        --initial-cluster=${PLANET_INITIAL_CLUSTER} \
        --kube-addr=https://${KUBE_APISERVER}:6443 \
        --cluster-dns=${KUBE_CLUSTER_DNS_IP} \
        --docker-registry-addr=${KUBE_APISERVER}:5000 \
        --etcd-cafile=/var/state/root.cert \
        --etcd-certfile=/var/state/etcd.cert \
        --etcd-keyfile=/var/state/etcd.key \
        --nameservers=${PLANET_DNS_UPSTREAM_NAMESERVERS} \
        --local-nameservers=${PLANET_DNS_LOCAL_NAMESERVERS} \
        --dns-zones=${PLANET_DNS_ZONES}
