[Unit]
Description=Etcd Service

[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/container-environment
ExecStart=/usr/bin/etcd \
          --data-dir=/ext/etcd\
          --listen-client-urls http://0.0.0.0:2379,http://0.0.0.0:4001\
          --advertise-client-urls http://${PLANET_PUBLIC_IP}:2379,http://${PLANET_PUBLIC_IP}:4001\
          --listen-peer-urls http://${PLANET_PUBLIC_IP}:2380,http://${PLANET_PUBLIC_IP}:7001
User=planet
Group=planet
