[Unit]
Description=Serf agent

[Service]
TimeoutStartSec=0
ExecStart=/usr/bin/serf agent \
          --bind-addr ${PLANET_PUBLIC_IP}:7496 \
          --rpc-addr 127.0.0.1:7373
User=planet
Group=planet
