[Unit]
Description=Prepackaged Kubernetes images
Requires=docker.socket

[Service]
EnvironmentFile=/etc/container-environment
Type=oneshot
ExecStart=/usr/bin/docker load -i /etc/docker/tmp/pause.tar.gz
ExecStart=/usr/bin/docker load -i /etc/docker/tmp/nettest.tar.gz
ExecStartPost=/usr/bin/docker tag gcr.io/google_containers/pause:0.8.0 ${PLANET_PUBLIC_IP}:5000/pause:0.8.0
ExecStartPost=/usr/bin/docker push ${PLANET_PUBLIC_IP}:5000/pause:0.8.0
ExecStartPost=/usr/bin/docker tag gcr.io/google_containers/nettest:1.6 ${PLANET_PUBLIC_IP}:5000/nettest:1.6
ExecStartPost=/usr/bin/docker push ${PLANET_PUBLIC_IP}:5000/nettest:1.6
#Restart=on-failure
#RestartSec=5

[Install]
WantedBy=multi-user.target
