[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
Wants=docker.service

[Service]
EnvironmentFile=/etc/container-environment
EnvironmentFile=/run/overlay.env
ExecStartPre=/bin/systemctl is-active docker.service
ExecStart=/usr/bin/kubelet \
        --hostname-override=${KUBE_NODE_NAME} \
        --allow-privileged=false \
        --logtostderr=true \
        --cluster-dns=${OVERLAY_ADDRESSES} \
        --pod-infra-container-image=${KUBE_APISERVER}:5000/gcr.io/google_containers/pause:3.0 \
        --kubeconfig=/etc/kubernetes/kubelet.kubeconfig \
        --register-with-taints=${PLANET_NODE_TAINTS} \
        --node-labels=${PLANET_NODE_LABELS} \
        --config=/etc/kubernetes/kubelet.yaml \
        $KUBE_CLOUD_FLAGS \
        $KUBELET_OPTS
Restart=always
RestartSec=5
StartLimitInterval=3600
StartLimitBurst=720
