[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Wants=etcd.service

[Service]
EnvironmentFile=/etc/container-environment
ExecStartPre=/usr/bin/scripts/wait-for-etcd.sh
ExecStartPre=/bin/systemctl is-active etcd.service
ExecStart=/usr/bin/kube-apiserver \
        --insecure-port=0 \
        --service-account-key-file=/var/state/apiserver.key \
        --service-account-lookup=true \
        --admission-control=NamespaceLifecycle,LimitRanger,ServiceAccount,ResourceQuota,AlwaysPullImages \
        --authorization-mode=RBAC \
        --runtime-config=api/v1,extensions/v1beta1,batch/v2alpha1,rbac.authorization.k8s.io/v1alpha1 \
        --allow-privileged=true \
        --apiserver-count=1 \
        --tls-cert-file=/var/state/apiserver.cert \
        --tls-private-key-file=/var/state/apiserver.key \
        --tls-ca-file=/var/state/root.cert \
        --kubelet-https=true \
        --kubelet-certificate-authority=/var/state/root.cert \
        --kubelet-client-certificate=/var/state/apiserver.cert \
        --kubelet-client-key=/var/state/apiserver.key \
        --secure-port=6443 \
        --service-cluster-ip-range=${KUBE_SERVICE_SUBNET} \
        --etcd-servers=https://127.0.0.1:2379 \
        --etcd-cafile=/var/state/root.cert \
        --etcd-certfile=/var/state/etcd.cert \
        --etcd-keyfile=/var/state/etcd.key \
        --event-ttl=24h0m0s \
        --bind-address=${PLANET_PUBLIC_IP} \
        --logtostderr=true $KUBE_CLOUD_FLAGS \
        --client-ca-file=/var/state/root.cert \
        --anonymous-auth=false \
        --profiling=false \
        --audit-log-path=/var/log/apiserver/audit.log \
        --audit-log-maxage=30 \
        --audit-log-maxbackup=10 \
        --audit-log-maxsize=100
Restart=always
RestartSec=5
StartLimitInterval=3600
StartLimitBurst=720
User=planet
Group=planet
