[Unit]
Description=Kubernetes Cloud Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Wants=kube-apiserver.service

[Service]
EnvironmentFile=/etc/container-environment
ExecStartPre=/bin/systemctl is-active kube-apiserver.service
ExecStart=/usr/bin/cloud-controller-manager \
        --master=https://${KUBE_APISERVER}:6443 \
        --logtostderr=true \
        --kubeconfig=/etc/kubernetes/scheduler.kubeconfig \
        --allocate-node-cidrs=false \
        --configure-cloud-routes=false \
        --profiling=false \
        --secure-port=0 \
        --use-service-account-credentials=true \
        $KUBE_CLOUD_CONTROLLER_MANAGER_FLAGS \
        $KUBE_COMPONENT_FLAGS
Restart=always
RestartSec=5
StartLimitInterval=3600
StartLimitBurst=720
User=planet
Group=planet
