[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=etcd.service
After=etcd.service

[Service]
EnvironmentFile=/etc/container-environment
ExecStartPre=/usr/bin/scripts/wait-for-etcd.sh
ExecStart=/usr/bin/kube-apiserver \
        --service-account-key-file=/var/state/apiserver.key \
        --service-account-lookup=false \
        --admission-control=NamespaceLifecycle,LimitRanger,SecurityContextDeny,ServiceAccount,ResourceQuota \
        --runtime-config=api/v1 \
        --allow-privileged=true \
        --tls-cert-file=/var/state/apiserver.cert \
        --tls-private-key-file=/var/state/apiserver.key \
        --insecure-bind-address=0.0.0.0 \
        --insecure-port=8080 \
        --kubelet-https=true \
        --secure-port=6443 \
        --service-cluster-ip-range=${KUBE_SERVICE_SUBNET} \
        --etcd-servers=http://127.0.0.1:2379 \
        --public-address-override=${PLANET_PUBLIC_IP} \
        --logtostderr=true
Restart=always
RestartSec=10
