[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Wants=kube-apiserver.service

[Service]
EnvironmentFile=/etc/container-environment
ExecStartPre=/bin/systemctl is-active kube-apiserver.service
ExecStart=/usr/bin/kube-controller-manager \
        --service-account-private-key-file=/var/state/apiserver.key \
        --cluster-signing-cert-file=/var/state/root.cert \
        --cluster-signing-key-file=/var/state/root.key \
        --root-ca-file=/var/state/root.cert \
        --master=https://${KUBE_APISERVER}:6443 \
        --logtostderr=true \
        --kubeconfig=/etc/kubernetes/scheduler.kubeconfig \
        --allocate-node-cidrs=false \
        --profiling=false \
        --terminated-pod-gc-threshold=500 \
        --secure-port=0 \
        --cluster-cidr=${KUBE_POD_SUBNET} \
        --allocate-node-cidrs=${KUBE_ENABLE_IPAM} \
        --use-service-account-credentials=true \
        $KUBE_CONTROLLER_MANAGER_FLAGS \
        $KUBE_CLOUD_FLAGS \
        $KUBE_COMPONENT_FLAGS
Restart=always
RestartSec=5
StartLimitInterval=3600
StartLimitBurst=720
User=planet
Group=planet
SuccessExitStatus=2
