[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Wants=kube-apiserver.service

[Service]
EnvironmentFile=/etc/container-environment
ExecStartPre=/bin/systemctl is-active kube-apiserver.service
ExecStart=/usr/bin/kube-scheduler \
        --master=https://${KUBE_APISERVER}:6443 \
        --kubeconfig=/etc/kubernetes/scheduler.kubeconfig \
        --profiling=false
Restart=always
RestartSec=5
StartLimitInterval=3600
StartLimitBurst=720
User=planet
Group=planet
SuccessExitStatus=2
