[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Wants=kube-apiserver.service

[Service]
EnvironmentFile=/etc/container-environment
ExecStartPre=/bin/systemctl is-active kube-apiserver.service
ExecStart=/usr/bin/kube-scheduler \
        --master=https://${KUBE_APISERVER}:6443 \
        --kubeconfig=/etc/kubernetes/scheduler.kubeconfig \
        --profiling=false \
        --client-ca-file=/var/state/root.cert \
        --tls-cert-file=/var/state/scheduler.cert \
        --tls-private-key-file=/var/state/scheduler.key \
        --tls-cipher-suites=TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_RSA_WITH_AES_128_GCM_SHA256,TLS_RSA_WITH_AES_256_GCM_SHA384,TLS_RSA_WITH_AES_128_GCM_SHA256,TLS_RSA_WITH_AES_256_GCM_SHA384 \
        --tls-min-version=VersionTLS12 \
        $KUBE_COMPONENT_FLAGS
Restart=always
RestartSec=5
StartLimitInterval=3600
StartLimitBurst=720
User=planet
Group=planet
SuccessExitStatus=2
