[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
Wants=containerd.service

[Service]
EnvironmentFile=/etc/container-environment
EnvironmentFile=/run/dns.env
EnvironmentFile=-/run/kubernetes-reserved.env
ExecStartPre=/bin/systemctl is-active containerd.service
ExecStartPre=/usr/bin/scripts/cluster-dns.sh
ExecStart=/usr/bin/kubelet \
        --root-dir=/var/lib/kubelet \
        --hostname-override=${KUBE_NODE_NAME} \
        --logtostderr=true \
        --pod-infra-container-image=${KUBE_APISERVER}:5000/k8s.gcr.io/pause:3.5 \
        --kubeconfig=/etc/kubernetes/kubelet.kubeconfig \
        --register-with-taints=${PLANET_NODE_TAINTS} \
        --node-labels=${PLANET_NODE_LABELS} \
        --network-plugin=cni \
        --kube-reserved=${KUBE_RESERVED} \
        --system-reserved=${KUBE_SYSTEM_RESERVED} \
        --cgroup-root=${KUBE_CGROUP_ROOT} \
        --config=/etc/kubernetes/kubelet.yaml \
        --image-pull-progress-deadline=15m \
        --tls-min-version=VersionTLS12 \
	--container-runtime=remote \
	--container-runtime-endpoint=/run/containerd/containerd.sock \
        $KUBE_KUBELET_FLAGS \
        $KUBE_CLOUD_FLAGS \
        $KUBE_COMPONENT_FLAGS
Restart=always
RestartSec=5
StartLimitInterval=3600
StartLimitBurst=720
