[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Wants=etcd.service

[Service]
# Default to etcd storage backend
# TODO - remove when we no longer support etcd2 upgrade paths
Environment=KUBE_STORAGE_BACKEND=etcd2
# Override KUBE_STORAGE_BACKEND if we're using a version 3 compatible etcd
EnvironmentFile=-/ext/etcd/etcd-version.txt
EnvironmentFile=/etc/container-environment
ExecStartPre=/usr/bin/scripts/wait-for-etcd.sh
ExecStartPre=/bin/systemctl is-active etcd.service
ExecStart=/usr/bin/kube-apiserver \
        --insecure-port=0 \
        --service-account-key-file=/var/state/apiserver.key \
        --service-account-lookup=true \
        --admission-control=NamespaceLifecycle,LimitRanger,ServiceAccount,ResourceQuota,AlwaysPullImages,PodSecurityPolicy,NodeRestriction \
        --authorization-mode=Node,RBAC \
        --runtime-config=api/v1,extensions/v1beta1,batch/v2alpha1,rbac.authorization.k8s.io/v1beta1,extensions/v1beta1/podsecuritypolicy \
        --feature-gates=AllAlpha=true,APIResponseCompression=false,BoundServiceAccountTokenVolume=false  \
        --allow-privileged=false \
        --apiserver-count=1 \
        --tls-cert-file=/var/state/apiserver.cert \
        --tls-private-key-file=/var/state/apiserver.key \
        --kubelet-https=true \
        --kubelet-certificate-authority=/var/state/root.cert \
        --kubelet-client-certificate=/var/state/apiserver-kubelet-client.cert \
        --kubelet-client-key=/var/state/apiserver-kubelet-client.key \
        --proxy-client-cert-file=/var/state/front-proxy-client.cert \
        --proxy-client-key-file=/var/state/front-proxy-client.key \
        --requestheader-allowed-names=front-proxy-client \
        --requestheader-client-ca-file=/var/state/root.cert \
        --requestheader-extra-headers-prefix=X-Remote-Extra- \
        --requestheader-group-headers=X-Remote-Group \
        --requestheader-username-headers=X-Remote-User \
        --secure-port=6443 \
        --service-cluster-ip-range=${KUBE_SERVICE_SUBNET} \
        --etcd-servers=https://127.0.0.1:2379 \
        --etcd-cafile=/var/state/root.cert \
        --etcd-certfile=/var/state/etcd.cert \
        --etcd-keyfile=/var/state/etcd.key \
        --storage-backend=${KUBE_STORAGE_BACKEND} \
        --event-ttl=24h0m0s \
        --bind-address=${PLANET_PUBLIC_IP} \
        --advertise-address=${PLANET_PUBLIC_IP} \
        --logtostderr=true $KUBE_CLOUD_FLAGS \
        --client-ca-file=/var/state/root.cert \
        --anonymous-auth=false \
        --profiling=false \
        --audit-policy-file=/etc/kubernetes/audit-policy.yaml \
        --audit-log-path=/var/log/apiserver/audit.log \
        --audit-log-maxage=30 \
        --audit-log-maxbackup=10 \
        --audit-log-maxsize=100
Restart=always
RestartSec=5
StartLimitInterval=3600
StartLimitBurst=720
User=planet
Group=planet
Slice=gravity.slice
