[Unit]
Description=Prepackaged Kubernetes container images
Wants=containerd.service

[Service]
EnvironmentFile=/etc/container-environment
Restart=on-failure
RestartSec=5
ExecStartPre=/bin/systemctl is-active containerd.service
ExecStart=/usr/bin/infra-import --dir=/etc/containerd/infra/ --registry-addr=${KUBE_APISERVER}:5000

[Install]
WantedBy=multi-user.target
